.form-row{
    min-height: 3rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.input-error {
    color: #f5222d;
}

.required-field::before {
    display: inline-block;
    margin-right: 4px;
    color: #f5222d;
    font-size: 14px;
    font-family: SimSun,sans-serif;
    line-height: 1;
    content: '*';
}

.error-status {
    color: #f5222d;
    font-size: 18px;
}

.success-status {
    color: #389e0d;
    font-size: 18px;
}